.footer {
    width: 100%;
    background-color: #e2bce6; /* morado claro */
    color: #1a1a1a;

    font-family: 'Segoe UI', sans-serif;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .footer-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .footer-section h2 span {
    color: magenta;
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #000;
  }
  
  .footer-section p {
    margin: 0.2rem 0;
    font-size: 0.95rem;
  }
  
  .footer-bottom {
    background-color: #1f1233; 
}