<footer class="footer">
    <div class="footer-content">
      <div class="footer-section brand">
        <h2><span>Arte</span>mania</h2>
        <p>Talleres, venta de moldes y decoraciones</p>
      </div>
  
      <div class="footer-section">
        <h3>Tienda</h3>
        <p>Manualidades</p>
        <p>Scrapbooking</p>
        <p>Cartonaje</p>
        <p>Talleres</p>
        <p>Resina</p>
        <p>Cursos</p>
      </div>
  
      <div class="footer-section">
        <h3>Contacto</h3>
        <p>📍 Buenavista E51-58 y calle 2,<br>San Bartolo, Quito</p>
        <p>✉️ artemania-qtohotmail.com</p>
        <p>📞 0992731355</p>
      </div>
  
      <div class="footer-section">
        <h3>Horarios de atencion</h3>
        <p>Lunes a viernes<br>10:00 a 18:00</p>
        <p>Sábados<br>12:00 a 16:00</p>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p> Derechos reservados Artemania 2024</p>
      <div class="social-icons">
        <i class="pi pi-facebook"></i>
        <i class="pi pi-tiktok"></i>
        <i class="pi pi-instagram"></i>
      </div>
    </div>
  </footer>
  